@import './variables.css';

.burger-bar {
  margin-top: 2px;
  width: 80%;
  height: 4px;
  position: relative;
  background-color: var(--white);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.burger-menu.active .burger-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger-menu.active .burger-bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}


.drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #d38e14;
  transition: left 0.3s ease-in-out;
  z-index: 10;
  text-transform: capitalize;

}

.drawer.open {
  left: 0;
}

.drawer ul {
  padding: unset;

  list-style-type: none;
}

.drawer ul li {
  position: relative;
  padding: 12px 12px 10px 4px;
  /* border-bottom: 1px solid var(--white); */
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  margin-left: 16px;
  margin-right: 16px;
  /* margin-bottom: 15px; */
}

.drawer ul li:hover {
  cursor: pointer;
} 

.drawer ul li::before {
  content: '';
  height: 1px;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}